
<h1>About Us</h1>
<p>Pinteresting is a photo sharing app that is fun and easy to use.</p>
<p>People use Pinteresting to discover and capture the inspirational and the interesting from across the web.</p>
<p>Enjoy! And come back often.</p>