
<div class="jumbotron center">
  <h1>Welcome!</h1>
   <p>This is an easy to use photo-sharing app that I am building for fun and practice.</p>
    <p>
    <%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
    <%= link_to "Sign Up", "http://pinterest.com", class: "btn btn-primary btn-lg" %>
    </p>
</div>


